<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Fairfield Library :: System Public list </title>
</head>
<body>
<header th:replace="fragments/header ::header"></header>
<h1> System Administration</h1>
<!--<nav>-->
<!--  <a href="/secured/student/list">Student list</a> |-->
<!--&lt;!&ndash;  <a href="/secured/books/list">Books</a> |&ndash;&gt;-->
<!--&lt;!&ndash;  <a href="/secured/members/list">Members</a>&ndash;&gt;-->
<!--</nav>-->
<section>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Student number</th>
      <th scope="col">First Name</th>
      <th scope="col">Middle Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">CGP</th>
      <th scope="col">Date of Enrolment</th>
      <th scope="col">Internation Student</th>
      <th scope="col">Class Room</th>

    </tr>
    </thead>
    <tbody>
<!--    <tr>-->
<!--      <th scope="row">1</th>-->
<!--      <td>Mark</td>-->
<!--      <td>Otto</td>-->
<!--      <td>@mdo</td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <th scope="row">2</th>-->
<!--      <td>Jacob</td>-->
<!--      <td>Thornton</td>-->
<!--      <td>@fat</td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <th scope="row">3</th>-->
<!--      <td colspan="2">Larry the Bird</td>-->
<!--      <td>@twitter</td>-->
<!--    </tr>-->
<tr  th:each="stud, counter: ${students}">
  <th th:text="${counter.count}"></th>
  <td th:text="${stud.studentNumber}"></td>
  <td th:text="${stud.firstName}"></td>
  <td th:text="${stud.middleName}"></td>
  <td th:text="${stud.lastName}"></td>
  <td th:text="${stud.cgp}"></td>
  <!--        <td th:if="${stud.primaryAddress !=null}">-->
  <!--        <p th:text="${stud.primaryAddress}"></p>-->
  <!--        <td th:text="${stud.transcript}"></td>-->
  <!--        <td th:text="${stud.classroom}"></td>-->
    </tbody>
  </table>
<!--    <table>-->
<!--      <thead>-->
<!--      <tr>-->
<!--        <th>#</th>-->
<!--        <th> student number</th>-->
<!--        <th>first name</th>-->
<!--        <th> middle name</th>-->
<!--        <th>last name</th>-->
<!--        <th>cgp</th>-->
<!--        <th>dateOfEnrollment</th>-->
<!--        <th>Internation student</th>-->
<!--        <th>class room</th>-->
<!--      </tr>-->
<!--      </thead>-->
<!--      <tbody>-->
<!--      <tr  th:each="stud, counter: ${students}">-->
<!--        <th th:text="${counter.count}"></th>-->
<!--        <td th:text="${stud.studentNumber}"></td>-->
<!--        <td th:text="${stud.firstName}"></td>-->
<!--        <td th:text="${stud.middleName}"></td>-->
<!--        <td th:text="${stud.lastName}"></td>-->
<!--        <td th:text="${stud.cgp}"></td>-->
<!--&lt;!&ndash;        <td th:if="${stud.primaryAddress !=null}">&ndash;&gt;-->
<!--&lt;!&ndash;        <p th:text="${stud.primaryAddress}"></p>&ndash;&gt;-->
<!--&lt;!&ndash;        <td th:text="${stud.transcript}"></td>&ndash;&gt;-->
<!--&lt;!&ndash;        <td th:text="${stud.classroom}"></td>&ndash;&gt;-->

<!--        </td>-->

<!--      </tr>-->
<!--      </tbody>-->
<!--    </table>-->
</section>
</body>
</html>
</html>